@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>E-migrant</a>.</p>
</div>
<div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="Index" asp-controller="Novedads">Novedades</a>
           
        </div>