@model proyecto.Models.EmergenciasMigrantes

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>EmergenciasMigrantes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEmergenciasMigrantes" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMigrante" class="control-label"></label>
                <select asp-for="IdMigrante" class="form-control" asp-items="ViewBag.IdMigrante"></select>
                <span asp-validation-for="IdMigrante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control" >
                 <option disabled>Por Atender</option>
                 <option >Atendendido</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipoemergencia" class="control-label"></label>
                <select asp-for="Tipoemergencia" class="form-control" >
                 <option>Policial</option>
                 <option>salud</option>
                </select>
                <span asp-validation-for="Tipoemergencia" class="text-danger"></span>
               </div>
                <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <select asp-for="Ciudad" class="form-control" >
                 <option>Bogotá</option>
                 <option>Cali</option>
                 <option>Medellin</option>
                 <option>Cartagena</option>
                 <option>Barranquilla</option>
                 <option>Bucaramanga</option>
                 <option>Tunja</option>
                 <option>Manizales</option>
                 <option>Armenia</option>
                
                </select>
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

